<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS Rendering vs. Binding Example</title>
    <script src="angular.js"></script>
    <script type="text/javascript">
        'use strict';

        (function (app) {

            function countWatches () {
                var watchers = [],
                f = function (element) {
                    if (element.scope()) {
                        angular.forEach(element.scope().$$watchers, function (w) {
                            watchers.push(w);
                        });
                    }

                    angular.forEach(element.children(), function (child) {
                        f(angular.element(child));
                    });
                };

                f(angular.element(document.getElementsByTagName('body')));

                return watchers.length;
            }

            function Controller ($compile, $scope, $timeout) {
                var idx = 0;
                this.compile = function (e) {
                    $compile(e)($scope);
                };
                this.$timeout = $timeout;
                this.list = [];
                while (idx < 1000) {
                    this.list.push(Math.random());
                    idx += 1;
                }
                this.countWatches();
            }

            Controller.$inject = ['$compile', '$scope', '$timeout'];

            angular.extend(Controller.prototype, {
                watches: 0,
                countWatches: function () {
                    var _this = this;
                    this.$timeout(function () {
                        _this.watches = countWatches()
                    }, 0);
                },
                text: 'Data-Binding',
                dataBound: false,
                toggle: function () {
                    this.text = this.dataBound ? 'Data-Binding' : 'Rendered';
                    this.dataBound = !this.dataBound;
                    this.countWatches();
                }
            });

            app.controller('myCtrl', Controller);

            app.directive('renderList', function () {
                return {
                    restrict: 'E',
                    scope: {
                        list: '='
                    },
                    replace: true,
                    link: function (scope, element, attrs) {
                        var list, idx, html;
                        if (attrs.list) {
                            list = scope.$parent.$eval(attrs.list).slice(0);
                            if (list && list.length) {
                                html = '<div>';
                                for (idx = 0; idx < list.length; idx += 1) {
                                    html += ('<span>' + list[idx].toString() + '</span>');
                                }
                                html += '</div>';
                            }
                            else {
                                html = '<div/>';
                            }
                            element.html(html);
                            scope.$destroy();
                        }
                    }
                };
            });

        })(angular.module('angularApp', []));
    </script>
</head>
<body data-ng-app="angularApp">
<h1>Angular Debugging and Performance</h1>
<h2>Rendering vs. Binding</h2>
<p>Example of rendering static data vs. using data-binding.</p>
<div data-ng-controller="myCtrl as ctrl">
    <p>Watch Count: {{ctrl.watches}}</p>
    <button data-ng-click="ctrl.countWatches()">Refresh</button>
    <button data-ng-click="ctrl.toggle()">{{ctrl.text}}</button>
    <render-list data-ng-if="!ctrl.dataBound" data-list="ctrl.list"></render-list>
    <div data-ng-if="ctrl.dataBound"><span data-ng-repeat="number in ctrl.list">{{number}}</span></div>
</div>
</body>
</html>